@model SAPTestCenter.Controllers.ReportInfo
@{
    ViewBag.Title = "Index";
}




<style>
    #search {
        margin: 0px 5px 5px -15px;
    }
</style>


@if (Model.IsMyReport)
{
    <div id="isMyReport" style="display:none">
        1
    </div>
}
else
{
    <div id="isMyReport" style="display:none">
        0
    </div>
}


<div class="page-header">
    <div class="row">
        <div class="col-lg-8">
            <ul class="nav nav-pills" role="tablist">
                @if (Model.IsVaildUser)
                {
                    if (Model.IsMyReport)
                    {
                        <li role="presentation">
                            <a href="~/Report">Total Reports <span class="badge" id="badge_Total">@Model.TotalReportNum</span></a>
                        </li>
                        <li role="presentation" class="active">
                            <a href="~/Report/Index?isMyReport=true">My Reports <span class="badge" id="badge_My">@Model.MyReportNum</span></a>
                        </li>
                        <li role="presentation">
                            <a href="#"><span class="badge">Filter</span>@ViewBag.Message</a>
                        </li>
                    }
                    else
                    {
                        <li role="presentation" class="active">
                            <a href="~/Report">Total Reports <span class="badge" id="badge_Total">@Model.TotalReportNum</span></a>
                        </li>
                        <li role="presentation">
                            <a href="~/Report/Index?isMyReport=true">My Reports <span class="badge" id="badge_My">@Model.MyReportNum</span></a>
                        </li>
                        <li role="presentation">
                            <a href="#"><span class="badge">Filter</span>@ViewBag.Message</a>
                        </li>
                    }
                }
                else
                {
                    <li role="presentation" class="active">
                        <a href="~/Report">Total Reports <span class="badge" id="badge_Total">@Model.TotalReportNum</span></a>
                    </li>
                    <li role="presentation">
                        <a href="#"><span class="badge">Filter</span>@ViewBag.Message</a>
                    </li>
                }


            </ul>
        </div>

        <div class="col-lg-4 text-right">
            @{
                System.Text.RegularExpressions.Regex reg = new System.Text.RegularExpressions.Regex(@"[&]{0,}sort=\d{0,}");
                string url = "/Report/Index{0}";
                string query = Model.Request.Query;
                query = reg.Replace(query, "");

                string sortClass = Model.Filter.Sort == -1 ? "" : Model.Filter.Sort == 0 ? "glyphicon glyphicon-arrow-up" : "glyphicon glyphicon-arrow-down";

                if (query == "")
                {
                    url = string.Format(url, "?");
                }
                else
                {
                    url = string.Format(url, query);
                }

                if (Model.Filter.Sort == -1 || Model.Filter.Sort == 1)
                {
                    url += "&sort=0";
                }
                else
                {
                    url += "&sort=1";
                }



            }

            <a class="btn btn-danger" href="@url">
                Sort By Name <span class="@sortClass"></span>
            </a>

            <button id="btn_Filter" type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">
                <span class="glyphicon glyphicon-filter"></span> Filter
            </button>

            @if (Model.IsVaildUser)
            {
                <button id="btn_Upload" type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">
                    <span class="glyphicon glyphicon-upload"></span> Upload
                </button>
            }


        </div>
    </div>
</div>

<div class="modal fade" id="modal_Confirm" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">WARNING</h4>
            </div>
            <div class="modal-body">
                <h4>Are you sure want to delete?</h4>
            </div>
            <div class="modal-footer">
                <img id="img_Loading_Confirm" src="~/Image/HPStyle_Spinning.gif" style="display:none" />
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" onclick="removeReport()">OK</button>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="header_Title">Report Upload </h4>
            </div>

            <form id="modal-inter" action="/Report/Upload" class="form-horizontal" enctype="multipart/form-data" method="post" role="form">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="project" class="col-sm-3 control-label">Project:</label>
                        <div class="col-sm-9">
                            <select class="form-control" id="project" name="project">
                                <option value="-1">Please select a project</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="release" class="col-sm-3 control-label">Release:</label>
                        <div class="col-sm-9">
                            <select class="form-control" id="release" name="release">
                                <option value="-1">Please select a release</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="asset" class="col-sm-3 control-label">Asset:</label>
                        <div class="col-sm-9">
                            <select class="form-control" id="asset" name="asset">
                                <option value="-1">Please select a asset</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" id="inputFile">
                        <label for="file" class="col-sm-3 control-label">Report:</label>
                        <div class="col-sm-9">

                            <input type="file" id="file" name="file" class="form-control" />

                        </div>
                    </div>
                    <div class="form-group" id="queryString">
                        <label for="qs" class="col-sm-3 control-label">Test Name:</label>
                        <div class="col-sm-9">
                            <input type="text" id="qs" name="qs" class="form-control" />
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <img id="img_Loading" src="~/Image/HPStyle_Spinning.gif" style="display:none" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input id="btn_Submit" type="submit" class="btn btn-primary" value="Upload" />
                </div>

            </form>
        </div>
    </div>
</div>


@*<div class="page-header">
        <table class="table table-hover table-condensed table-striped">
            <thead>
                <tr>
                    <th>
                        Test Name
                    </th>
                    <th>
                        Case
                    </th>
                    <th>
                        Project
                    </th>
                    <th>
                        Release
                    </th>
                    <th>
                        Asset
                    </th>
                    <th>
                        CoCode
                    </th>
                    <th>
                        Submit On
                    </th>
                    <th>
                        Submit By
                    </th>
                    <th>
                        Result
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var report in Model.Reports)
                    {
                        <tr>
                            <th>@report.TestName</th>
                            <th>@report.CaseNum</th>
                            <th>@report.Asset.Release.Project.Name</th>
                            <th>@report.Asset.Release.Name</th>
                            <th>@report.Asset.Name</th>
                            <th>@report.CompanyCode</th>
                            <th>@report.SubmitDt</th>
                            <th>@report.User.UserName</th>
                            <th>@report.TestResult</th>
                        </tr>

                    }
                }
            </tbody>
        </table>
    </div>*@



<div class="row">
    @{
        foreach (var report in Model.Reports)
        {
            <div class="col-lg-6" id="@report.Id">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-lg-12" data-toggle="tooltip" data-placement="top" title="@report.TestName">
                                @report.TestName
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <table class="table table-hover table-condensed">
                            <tbody class="text-nowrap">
                                <tr>
                                    <td>Case:</td>
                                    <td>@report.CaseNum</td>
                                </tr>
                                <tr>
                                    <td>Project:</td>
                                    <td id="pj_@report.Id">@report.Asset.Release.Project.Name</td>
                                </tr>
                                <tr>
                                    <td>Release:</td>
                                    <td id="rel_@report.Id">@report.Asset.Release.Name</td>
                                </tr>
                                <tr>
                                    <td>Asset:</td>
                                    <td id="at_@report.Id">@report.Asset.Name</td>
                                </tr>
                                <tr>
                                    <td>CoCode:</td>
                                    <td>@report.CompanyCode</td>
                                </tr>
                                <tr>
                                    <td>Submit On:</td>
                                    <td>@report.SubmitDt.ToString()</td>
                                </tr>
                                <tr>
                                    <td>Submit By:</td>
                                    @{
            var index = report.User.UserName.IndexOf('(');
                                    }
                                    <td>@report.User.UserName.Substring(0, index > 0 ? index : @report.User.UserName.Length)</td>
                                </tr>
                                <tr>
                                    <td>Result:</td>
                                    <td>
                                        @{
            string className = "glyphicon glyphicon-";
            if (report.TestResult.Value)
            {
                className += "ok";
            }
            else
            {
                className += "remove";
            }
                                        }
                                        <span class="@className"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a class="btn btn-danger btn-sm" href="/Report1/ReportFiles/@report.Url/report.xml"><span class="glyphicon glyphicon-th"></span> Show Details</a>
                                    </td>
                                    @if (Model.IsMyReport)
                                    {
                                        <td>
                                            <a class="btn btn-primary btn-sm" onclick="edit(@report.Id)"><span class="glyphicon glyphicon-edit"></span></a>
                                            <a class="btn btn-danger btn-sm" onclick="say(@report.Id)"><span class="glyphicon glyphicon-remove"></span></a>
                                            <a class="btn btn-success btn-sm" href="/Report1/Backup/@(report.Url).zip"><span class="glyphicon glyphicon-download"></span></a>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <a class="btn btn-success btn-sm" href="SIP:@report.User.Email"><span class="glyphicon glyphicon-comment"></span></a>
                                            <a class="btn btn-warning btn-sm" href="mailto:@report.User.Email?subject=@report.TestName"><span class="glyphicon glyphicon-envelope"></span></a>
                                        </td>
                                    }


                                </tr>

                            </tbody>
                        </table>

                        

                    </div>

                </div>

            </div>

        }
    }
</div>





<div class="row">
    <div class="col-lg-12 text-right">
        <nav>
            <ul class="pagination">

                @{
                    reg = new System.Text.RegularExpressions.Regex(@"[&]{0,}page=\d{0,}");
                    url = "/Report/Index{0}page=";
                    query = Model.Request.Query;
                    query = reg.Replace(query, "");
                    if (query != "")
                    {

                        url = string.Format(url, query + "&");
                    }
                    else
                    {
                        url = string.Format(url, "?");
                    }
                }

                @{

                    string firstPage = url + (ViewBag.CurrentPage - 1).ToString();
                }


                @if (ViewBag.CurrentPage - 1 == 0)
                {
                    <li class="disabled"><a href="@firstPage">&laquo;</a></li>
                }
                else
                {
                    <li><a href="@firstPage">&laquo;</a></li>
                }


                @for (int i = 1; i <= ViewBag.PageCount; i++)
                {
                    if (ViewBag.CurrentPage == i)
                    {
                        <li class="active"><a href="#">@i</a></li>
                    }
                    else
                    {

                        string page = url + @i.ToString();


                        <li><a href="@page">@i</a></li>
                    }

                }


                @{
                    string lastPage = url + (ViewBag.CurrentPage + 1).ToString();
                }

                @if (ViewBag.CurrentPage == ViewBag.PageCount)
                {
                    <li class="disabled"><a href="@lastPage">&raquo;</a></li>
                }
                else
                {
                    <li><a href="@lastPage">&raquo;</a></li>
                }

            </ul>
        </nav>
    </div>
</div>



<script type="text/javascript">

    function say(id) {

        $("#img_Loading_Confirm").css('display', 'none');
        $("#modal_Confirm").removeAttr("value");
        $("#modal_Confirm").attr("value", id);

        $("#modal_Confirm").modal({
            show: true,
            backdrop: true
        });

    }

    function edit(id) {
        $("#img_Loading").css('display', 'none');
        $("#myModal").removeAttr("value");
        $("#myModal").attr("value", id);
        $("#inputFile").css('display', 'none');
        $("#queryString").css('display', 'none');
        $("#btn_Submit").val('Save Changes');
        $("#modal-inter").removeAttr('action');
        $("#modal-inter").removeAttr('enctype');
        $("#modal-inter").removeAttr('method');
        $("#btn_Submit").removeAttr('onclick');
        $("#btn_Submit").attr('type', 'button');
        $("#btn_Submit").attr('onclick', 'editReport()')
        $("#header_Title").text("Edit");

        $("#myModal").modal({
            show: true,
            backdrop: true
        });
    }

    function editReport() {
        $("#img_Loading").css('display', 'inline');
        var id = $("#myModal").attr("value");

        var atId = $("#asset option:selected").attr("value");

        if (atId > 0) {
            var url = "/api/reportdata/UpdateReport";
            $.post(url, { Id: id, AssetId: atId }, function (data) {

                $("#pj_" + id).text($("#project option:selected").text());
                $("#rel_" + id).text($("#release option:selected").text());
                $("#at_" + id).text($("#asset option:selected").text());
                $("#img_Loading").css('display', 'none');
                $("#myModal").modal('hide');
            });
        } else {
            $("#img_Loading").css('display', 'none');
            alert("Please select an Asset");
        }

    }

    function removeReport() {


        $("#img_Loading_Confirm").css('display', 'inline');
        var id = $("#modal_Confirm").attr("value");


        var url = "/api/reportdata/DeleteReport";
        $.post(url, { Id: id }, function (data) {
            var elementId = "#" + id;
            //var elementId = "#rp_" + id;
            $("#badge_Total").text($("#badge_Total").text() - 1);
            $("#badge_My").text($("#badge_My").text() - 1);
            $("#modal_Confirm").modal('hide');
            $(elementId).remove();
        });

    }





    $(document).ready(function () {

        $("#btn_Submit").click(function () {
            $("#img_Loading").css('display', 'inline');

            var text = $(this).val();

            if (text == "Filter") {
                var pid = $("#project").val();
                var rid = $("#release").val();
                var aid = $("#asset").val();
                var qs = $("#qs").val();
                var isMy = $("#isMyReport").text();
                var url = "/Report/Index?";





                if (pid > 0) {
                    url += "pid=" + pid;
                }

                if (rid > 0) {
                    url += "&rid=" + rid;
                }

                if (aid > 0) {
                    url += "&aid=" + aid;
                }

                if (qs != "") {
                    url += "&qs=" + qs;
                }

                if (isMy > 0) {
                    url += "&isMyReport=true";
                }




                $("#modal-inter").attr('action', url);
            }



        });

        $("#btn_Upload").click(function () {
            $("#inputFile").css('display', 'block');
            $("#queryString").css('display', 'none');
            $("#btn_Submit").val('Upload');
            $("#modal-inter").attr('action', '/Report/Upload');
            $("#modal-inter").attr('enctype', 'multipart/form-data');
            $("#modal-inter").attr('method', 'post');
            $("#header_Title").text("Report Upload");
        });

        $("#btn_Filter").click(function () {



            $("#inputFile").css('display', 'none');
            $("#queryString").css('display', 'block');
            $("#btn_Submit").val('Filter');
            $("#modal-inter").attr('action', 'Report/Filter');
            $("#modal-inter").attr('enctype', 'multipart/form-data');
            $("#modal-inter").attr('method', 'post');
            $("#header_Title").text("Filter");


        });

        var url = "/api/reportdata/GetProjects";

        $.getJSON(url, function (data) {
            $("#img_Loading").css('display', 'inline');
            $(data).each(function () {
                $("#project").append($("<option/>").text(this.Name).attr("value", this.Id));
            })
            $("#img_Loading").css('display', 'none');
        });

        $("#project").change(function () {

            $("#release").empty();
            $("#asset").empty();
            $("#release").append($("<option value='-1'>Please select a release</option>"))
            $("#asset").append($("<option value='-1'>Please select a asset</option>"))
            $("#img_Loading").css('display', 'inline');
            var url = "/api/reportdata/getreleases";

            var pid = $("#project option:selected").attr("value")

            if (pid > 0) {
                $.getJSON(url, { id: pid }, function (data) {
                    $(data).each(function () {
                        $("#release").append($("<option/>").text(this.Name).attr("value", this.Id));
                    })
                })
            }
            $("#img_Loading").css('display', 'none');

        });

        $("#release").change(function () {

            $("#asset").empty();
            $("#asset").append($("<option value='-1'>Please select a asset</option>"))

            var url = "/api/reportdata/getassets";

            var rid = $("#release option:selected").attr("value")
            $("#img_Loading").css('display', 'inline');
            if (rid > 0) {
                $.getJSON(url, { id: rid }, function (data) {
                    $(data).each(function () {
                        $("#asset").append($("<option/>").text(this.Name).attr("value", this.Id));
                    })
                })
            }
            $("#img_Loading").css('display', 'none');
        })
    })
</script>